.App {
  text-align: center;
}

.App-counter {
  background-color: #8CBCB9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button {
  color: #8D6A9F;
  background: transparent;
  border: 2px solid #8D6A9F;
  border-radius: 6px; 
  padding: 16px 32px;
}
